<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Calculator')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>
<div class="main">
    <h1>Macro Counter</h1>
    <div id="macro-form" class="form">
        <form >
            <div class="user-details">
                <label for="age">Age</label>
                <input type="number" id="age" name="age" th:value="${age}">




                <label for="height">Height</label>
                <input type="number" id="height" name="height" th:value="${height}">


                <label for="weight">Weight</label>
                <input type="number" id="weight" name="weight" th:value="${weight}">

                <label for="activity-lv">Activity Level</label>
                <select name="activity-lv" id="activity-lv">
                    <option value="1">No Exercise</option>
                    <option value="2">Sedentary:Little to no exercise</option>
                    <option value="3">Exercise 1-3 times/week</option>
                    <option value="4">Exercise 4-5 times/week</option>
                    <option value="5">Intense 3-4 times/week</option>
                    <option value="6">Intense 6-7 times/week</option>
                    <option value="7">Very intense: Everyday</option>
                </select>
                <label for="goal">Goal</label>
                <select name="goal" id="goal">
                    <option value="maintain">Maintain</option>
                    <option value="mildlose">Weight loss</option>
                    <option value="mildgain">Weight gain</option>

                </select>

                <label for="gender">Gender</label>
                <select id="gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>




        </form>
        <button id="calculate-btn" class="btn btn-dark text-center calculate" type="button">Calculate</button>
    </div>
    <div id="results">
<!--        <form id="save-form" th:method="post" th:action="@{/macros}">-->

<!--            <input name="_csrf" type="hidden" th:each="cookie: ${#httpServletRequest.cookies}"-->
<!--                   th:if="${cookie.name == 'Idea-4c161dd1'} " th:value="${cookie.value}">-->
<!--        </form>-->
    </div>
</div>
<script th:inline="javascript">
    const MACRO_HOST = /*[[${MACRO_HOST}]]*/ "test";
    const KEY = /*[[${KEY}]]*/ "test";

</script>
<script th:src="@{~/js/macro-api.js}"></script>
</body>
</html>