.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#macro-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#macros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.diet{
    width: 30vw;
    height: 25vh;
    margin: .5em 1em;
}
.diet>p{
    margin: 0;
}
/*.activity-lv{*/
/*    margin: 1em;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.goal{*/
/*    margin: 1em;*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*}*/
.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.calculate{
margin: 1em;
}

@media screen and (min-width: 996px) {
   .diet{
       width: 20vw;
   }

}
